In [2]:
import helper_functions as hp
import pandas as pd
import random
import numpy as np

In [191]:
name = pd.read_csv('./data2013/all_small_data_name.csv')
df = pd.read_csv('./data2013/relationship.csv')
s = df[(df['Siblings'] !='0') & (df['Other Comments'] == '0')]
s = s.drop(s[s['Siblings'] == 'NA20301'].index)
s = s.drop(s[s['Siblings'] == 'NA20285'].index)
s = s.drop(s[s['Siblings'] == 'NA20284'].index)
s = s.drop(s[s['Individual ID'] == 'NA20313'].index)
s = s.drop(s[s['Individual ID'] == 'NA20301'].index)
for e in s['Siblings']:
    s[s['Siblings'] == e]['Siblings'] = e.split(',')[0]
s_list = ['NA19713','NA20289','NA20334','NA19660','HG00501','HG00501','HG00512','HG00578','HG00577','HG00578',
          'HG00581','NA19331','NA19347','NA19373']
i_list = ['NA19985','NA20341','NA20336','NA19672','HG00512','HG00524','HG00524','HG00581','HG00584','HG00635',
         'HG00635','NA19334','NA19352','NA19374']

/var/folders/7q/9jgys8t94kg68mx3fyvrxnmh0000gn/T/ipykernel_13206/3453513377.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s[s['Siblings'] == e]['Siblings'] = e.split(',')[0]

In [203]:
second_list = ['NA19625','NA20359','NA19657','NA19660','NA19664','NA19672','NA19726']
second_i_list = ['NA20414','NA20363','NA19753','NA19664','NA19672','NA19685','NA19738']

In [152]:
p_list = ['NA19660','NA19661','NA19675','NA19675','HG00656','HG00657','NA19313','NA19381','NA19445','NA19469']
c_list = ['NA19685','NA19685','NA19678','NA19679','HG00702','HG00702','NA19331','NA19382','NA19453','NA19470']

In [64]:
name[name['name'] == 'NA19713']

         name
2205  NA19713

## Find kinship data for testing

In [9]:
file = open('ALl.chr22_small_vcf.txt')
lines = file.readlines()

In [10]:
c_indexs = [127, 128, 129, 130, 131, 132, 133, 148, 149, 150, 151, 160]
f_indexs = [134, 135, 136, 137, 138, 139, 140, 152, 153, 154, 155, 166]
m_indexs = [141, 142, 143, 144, 145, 146, 147, 156, 157, 158, 159, 'x']
ls_22 = lines[22].split('\t')

## Test the data and put in csv

In [209]:
d = {'ID':[], 'Kin_Result':[], 'Stranger_Result':[]}
result = pd.DataFrame(d)
p = 750000
chr = '16'
path = './data2013/person/chr22/'

In [196]:
all_index = list(name['name'])
all_index = [i for i in all_index if i not in second_list]
all_index = [i for i in all_index if i not in second_i_list]
#all_index = [i for i in all_index if i not in m_indexs]

In [207]:
for i in range(len(second_list)):
    bfc1 = hp.generate_bloom(path + second_i_list[i] + '_A.txt', p)
    bfc2 = hp.generate_bloom(path + second_i_list[i] + '_B.txt', p)
    bff1 = hp.generate_bloom(path + second_list[i] + '_A.txt', p)
    bff2 = hp.generate_bloom(path + second_list[i] + '_B.txt', p)
    st_index = random.choice(all_index)  # stranger
    print(st_index)
    bfs1 = hp.generate_bloom(path + str(st_index) + '_A.txt', p)
    bfs2 = hp.generate_bloom(path + str(st_index) + '_B.txt', p)
    
    # Test father with child
    homo_num = hp.card_inter(bff1,bff2)
    kin_result = hp.inherit_test(bff1, bff2, bfc1, bfc2)
    rs1 = round(kin_result/homo_num, 4)
    # Test father with stranger
    stra_result = hp.inherit_test(bfs1, bfs2, bfc1, bfc2)
    rs2 = round(stra_result/homo_num, 4)
    
    # Add into csv
    ids = second_i_list[i] + ' / ' + second_list[i]
    result.loc[len(result.index)] = [ids, rs1, rs2]

HG03212
HG03694
HG02265
HG00154
HG02396
HG03452
HG03108

In [208]:
#df.insert(df.shape[1], 'chr', chr)
display(result)
result.to_csv('./data2013/test_result/second_order_test_result.csv', index=False)

                  ID  Kin_Result  Stranger_Result
0  NA20414 / NA19625      0.1373          -0.1909
1  NA20363 / NA20359      0.2660           0.5307
2  NA19753 / NA19657      0.7977           0.9129
3  NA19664 / NA19660      0.9720           0.9995
4  NA19672 / NA19664      0.4393           0.2220
5  NA19685 / NA19672      0.9231          -0.1720
6  NA19738 / NA19726      0.6483          -0.1792