In [1]:
import pandas as pd
import math
# import ray 
# ray.init(num_cpus = 8)
#import modin.pandas as pd
import gzip
import os
import shutil

In [2]:
def transfer_csv(base):
    for root, ds, fs in os.walk(base):
        for f in fs:
            n = f.split('.')
            if(n[-1] == 'gz'):
                names = get_vcf_names(root+f)
                vcf = pd.read_csv(root+f, compression='gzip', comment='#', delim_whitespace=True, header=None, names=names)
                vcf.to_csv("./data/csv_data/"+n[1]+".csv",index= False)

In [3]:
def get_vcf_names(vcf_path):
    with gzip.open(vcf_path, "rt") as ifile:
          for line in ifile:
            if line.startswith("#CHROM"):
                  vcf_names = [x for x in line.split('\t')]
                  break
    ifile.close()
    return vcf_names

In [8]:
base = './data/gz_data/'
transfer_csv(base)

In [10]:
df = pd.read_csv('./data/csv_data/chr22.csv')

In [ ]:
file_path = './data/csv_data/chr22.csv'
chr_csv = pd.read_csv(file_path)
newchr = chr_csv.replace({'1|1':1,'0|1':0.5,'1|0':0.5,'0|0':0})
chr_csv['POS'] = chr_csv['POS'].astype('str')
chr_csv['ALT'] = chr_csv['ALT'].str.cat(chr_csv['POS'],sep='/')
newchr.index = chr_csv['ALT']
new_chr = newchr.iloc[:,9:]
new_chr.to_csv("./data/new_csv/chr22.csv",index=True)
new_chr

In [17]:
df[df["POS"] == 10519687]

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG02461,...,SC_GMWOF5428867,SC_GMWOF5428869,SC_GMWOF5428871,SC_GMWOF5428873,SC_GMWOF5428874,SC_GMWOF5428875,SC_GMWOF5428877,SC_GMWOF5428879,SC_GMWOF5428882,SC_GMWOF5428906\n
111,22,10519687,.,C,T,.,PASS,DP=7702;AN=1010;AC=11;AF=0.01;GWD_AF=0.01;GWF_...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
112,22,10519687,.,C,CT,.,PASS,DP=7702;AN=1010;AC=2;AF=0;GWD_AF=0.01;GWF_AF=0...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

In [102]:
a = df.iloc[:,:9]
b = df['NA19738'].map(lambda x: x.split(":")[0])
c = pd.concat([a,b],axis = 1)

In [103]:
path = './data2013/person/chr22/'
for idx,row in c.iterrows():
    partInfo = str(row['#CHROM'])+'/'+str(row['POS'])+'/'+row['REF']+'/'+row['ALT']
    for item in row[row == '1|1'].index.to_list():
        f = open(path +'/' + item + '_A.txt','a')
        f.write('\n' + partInfo)
        f.close()
        f = open(path +'/' + item + '_B.txt','a')
        f.write('\n'+ partInfo)
        f.close()
    for item in row[row == '0|1'].index.to_list():
        f = open(path +'/' + item + '_B.txt','a')
        f.write('\n'+ partInfo)
        f.close()
    for item in row[row == '1|0'].index.to_list():
        f = open(path + '/' + item + '_A.txt','a')
        f.write('\n' + partInfo)
        f.close()
print('Done!')

Done!

In [2]:
name = pd.read_csv('./data2013/all_small_data_name.csv')

In [26]:
name.to_csv('./data2013/all_small_data_name.csv',index=False)
name

           name
0        #CHROM
1           POS
2            ID
3           REF
4           ALT
...         ...
2508    NA21137
2509    NA21141
2510    NA21142
2511    NA21143
2512  NA21144\n

[2513 rows x 1 columns]

In [2]:
df = pd.read_csv('all_small_data_name.csv')
df

                name
0            HG02461
1            HG02462
2            HG02464
3            HG02465
4            HG02561
..               ...
500  SC_GMWOF5428875
501  SC_GMWOF5428877
502  SC_GMWOF5428879
503  SC_GMWOF5428882
504  SC_GMWOF5428906

[505 rows x 1 columns]

In [18]:
dirs = os.listdir('./data2013/person')
for i in range(22):
    file_name = './data2013/person/chr' +str(i+1)
    os.mkdir(file_name)

In [21]:
l = name.iloc[9:,0].values.tolist()

g = os.walk('./data2013/person/')  

for path,dir_list,file_list in g:  
    for dir_name in file_list:
        for i in l:
            #print(i)
            f = open(path +'/' + i + '_A.txt','w')
            f.write(i)
            f.close()
            f = open(path +'/' + i + '_B.txt','w')
            f.write(i)
            f.close()

In [63]:
path = './data2013/person/chr22/'
for idx,row in c.iterrows():
    partInfo = str(row['#CHROM'])+'/'+str(row['POS'])+'/'+row['REF']+'/'+row['ALT']
    for item in row[row == '1|1'].index.to_list():
        f = open(path +'/' + item + '_A.txt','a')
        f.write('\n' + partInfo)
        f.close()
        f = open(path +'/' + item + '_B.txt','a')
        f.write('\n'+ partInfo)
        f.close()
    for item in row[row == '0|1'].index.to_list():
        f = open(path +'/' + item + '_B.txt','a')
        f.write('\n'+ partInfo)
        f.close()
    for item in row[row == '1|0'].index.to_list():
        f = open(path + '/' + item + '_A.txt','a')
        f.write('\n' + partInfo)
        f.close()
print('Done!')

Done!

In [3]:
#'./data/person/chr1Person/'
def transfer_person(path,data):
    for idx,row in data.iterrows():
        partInfo = str(row['#CHROM'])+'/'+str(row['POS'])+'/'+row['REF']+'/'+row['ALT']
        #print("write ")
        for item in row[row == '1|1'].index.to_list():
            
            f = open(path +'/' + item + '_A.txt','a')
            f.write('\n' + partInfo)
            f.close()
            f = open(path +'/' + item + '_B.txt','a')
            f.write('\n'+ partInfo)
            f.close()
        for item in row[row == '0|1'].index.to_list():
            f = open(path +'/' + item + '_B.txt','a')
            f.write('\n'+ partInfo)
            f.close()
        for item in row[row == '1|0'].index.to_list():
            f = open(path + '/' + item + '_A.txt','a')
            f.write('\n' + partInfo)
            f.close()
            
    #print()
    #print("[{}]: {}".format(idx,col))

In [4]:
def transfer_txt(csvdir):
    for root, ds, fs in os.walk(csvdir):
        for f in fs:
            name = f.split('.')
            if(name[1] == 'csv'):
                data = pd.read_csv(csvdir + f)
                transfer_person('./data2013/person/'+name[0], data)
                print(name[0]+' done!')

In [5]:
csvdir = './data2013/csv_data/'
transfer_txt(csvdir)

chr22 done!

In [7]:
data = pd.read_csv('/Users/yutengji/Documents/blockchain_dna/data/csv_data/chr1.csv')

transfer_person('./data/person_t/chr1', data)
print('chr1 done!')

chr1 done!

In [ ]:
def cut_df(df, n):
    
    df_num = len(df)
    every_epoch_num = nath.floor((df_num/n))
    for index in tqdm(range(n)):
        file_name = './data/csv_data/chr5_{index}.csv'
        if index < n-1:
            df_tem = df[every_epoch_num * index: every_epoch_num * (index + 1)]
        else:
            df_tem = df[every_epoch_num * index:]
        df_tem.to_csv(file_name, index=False)

In [22]:
data = pd.read_csv('/Users/yutengji/Documents/blockchain_dna/data/csv_data copy/chr6.csv')
data1 = data.iloc[:,100:202]

In [23]:
data2 = data.iloc[:,:10]
data = pd.concat([data1,data2],axis=1)

In [24]:
transfer_person('./data/person_t/chr6', data)
print('chr6 done!')

chr6 done!